<?xml version="1.0"?>
<model>
  <name>Robotino 3 HSLU</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Adapted from: Randolph Maaßen</name>
   <email>randolph.maassen@alumni.fh-aachen.de</email>
  </author>

  <description>
    The common Festo Robotino 3 including tower.
  </description>
</model>
